<div class="top-menu">

  <img class="logo" alt="logo" *ngIf="isImageVisible()"
       [src]="courses.iconUrl">
</div>

<div class="demo">
  <!--  <div>-->
  <!--    Start Date: {{startDate | date: 'MMM/dd/yyyy'}}-->
  <!--  </div>-->
  <!--  <div>-->
  <!--    Title: {{title | titlecase}}-->
  <!--  </div>-->
  <!--  <div>-->
  <!--    Price: {{price | percent  }}-->
  <!--  </div>-->
  <!--&lt;!&ndash;  <div>&ndash;&gt;-->
  <!--&lt;!&ndash;    course: {{courses | json  }}&ndash;&gt;-->
  <!--&lt;!&ndash;  </div>&ndash;&gt;-->

  <!--  <div *ngFor="let pair of course | keyvalue">-->

  <!--    {{pair.key + ':'+ pair.value}}-->
  <!--  </div>-->
</div>

<div class="courses" #container>
<!--  <div class="course-card">-->
    <course-card (courseSelected)="onCourseSelected($event)" [course]="courses[0]" #cardRef1></course-card>
    <course-card (courseSelected)="onCourseSelected($event)" [course]="courses[1]" #cardRef2></course-card>


    <!--    <course-card *ngFor="let course of courses | slice:0:3 ;-->
    <!--                          index as i;"-->
    <!--                 (courseSelected)="onCourseSelected($event)"-->
    <!--                 [course]="course" [cardIndex]="i + 1"></course-card>-->
    <!--    <course-card *ngFor="let course of courses;-->
    <!--                          index as i;-->
    <!--                          first as isFirst;-->
    <!--                          last as isLast;-->
    <!--                          odd as isOdd;-->
    <!--                          even as isEven"-->
    <!--                 [class.is-first]="isFirst"-->
    <!--                 [class.is-last]="isLast"-->
    <!--                 [class.is-odd]="isOdd"-->
    <!--                 [class.is-even]="isEven"-->
    <!--                 (courseSelected)="onCourseSelected($event)" [course]="course" [cardIndex]="i + 1"></course-card>-->
    <!--    <course-card (courseSelected)="onCourseSelected($event)" [course]="course"></course-card>-->
    <!--    <course-card (courseSelected)="onCourseSelected($event)" [course]="ngRxCourses"></course-card>-->
<!--  </div>-->
</div>
